.video {
    position: absolute;
    z-index: 1;
}
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
.container {  
    position: absolute;
    z-index: 100;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column; 
    height: 200px;
}
.play-music {
    width: 80px;
    height: 80px;
}
#iconMusic {
    margin-top: 50px;
}